<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPriceCalcService" />
                <binding name="BasicHttpBinding_ITIAReferenceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9853/PriceCalcService.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IPriceCalcService"
                contract="PriceCalculatorServiceClient.IPriceCalcService"
                name="BasicHttpBinding_IPriceCalcService" />
            <endpoint address="http://gfdbendsvc.gf-forsikring.dk:10060/TIAReferenceService.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_ITIAReferenceService"
                contract="ReferenceServiceClient.ITIAReferenceService" 
                name="BasicHttpBinding_ITIAReferenceService" />
        </client>            
    </system.serviceModel>
</configuration>