<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPriceCalcService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9853/PriceCalcService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPriceCalcService"
                contract="PriceCalcClient.IPriceCalcService" name="BasicHttpBinding_IPriceCalcService" />
        </client>
    </system.serviceModel>
</configuration>